# Trabajo Práctico 4 - Regularización aplicada a la EPH 

## Gil Deza, Hüppi Lo Prete, Walker

In [1]:
import pandas as pd
import numpy as np

from matplotlib import pyplot as plt

from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.preprocessing import PolynomialFeatures 
from sklearn.metrics import mean_squared_error

In [ ]:
# Utilizamos el código de la clase tutorial para crear un botón para ocultar el código 
#Fuente: https://stackoverflow.com/questions/27934885/how-to-hide-code-from-cells-in-ipython-notebook-visualized-with-nbviewer

import ipywidgets as widgets
from IPython.display import display, HTML

javascript_functions = {False: "hide()", True: "show()"}
button_descriptions  = {False: "Show code", True: "Hide code"}


def toggle_code(state):

    """
    Toggles the JavaScript show()/hide() function on the div.input element.
    """

    output_string = "<script>$(\"div.input\").{}</script>"
    output_args   = (javascript_functions[state],)
    output        = output_string.format(*output_args)

    display(HTML(output))


def button_action(value):

    """
    Calls the toggle_code function and updates the button description.
    """

    state = value.new

    toggle_code(state)

    value.owner.description = button_descriptions[state]


state = False
toggle_code(state)

button = widgets.ToggleButton(state, description = button_descriptions[state])
button.observe(button_action, "value")

display(button)

In [17]:
# Aplicamos un comando para que no salten los warnings
import warnings
warnings.filterwarnings("ignore")

### Parte I

Para esta parte recuperaremos lo realizado en los TPs anteriores.

#### 1)

In [3]:
# Abrimos la base de hogar 
df_ba=pd.read_excel("usu_hogar_T122.xls")
# Armamos un nuevo df solo con las observaciones de Buenos Aires y Gran Buenos Aires
df_ba = df.loc[df['AGLOMERADO'].isin([32, 33])]
# Abrimos la tabla de usuarios 
df_usu=pd.read_excel("usu_individual_T122.xls")

,CODUSU,ANO4,TRIMESTRE,NRO_HOGAR,REALIZADA,REGION,MAS_500,AGLOMERADO,PONDERA,IV1,...,GDECCFR,PDECCFR,ADECCFR,PONDIH,VII1_1,VII1_2,VII2_1,VII2_2,VII2_3,VII2_4
11,TQRMNOQSYHMOTOCDEIJAH00698520,2022,1,1,1,1,S,33,4625,2,...,0.0,NaN,0,4410,1,0,98,0,0,0
23,TQRMNOPSSHKKMMCDEIIAD00780111,2022,1,1,1,1,S,32,803,1,...,10.0,NaN,8,1440,1,2,98,0,0,0
52,TQRMNORSUHLMNPCDEIIAD00718267,2022,1,1,1,1,S,32,2785,2,...,10.0,NaN,9,4073,2,0,98,0,0,0
61,TQRMNORUPHMLRMCDEIJAH00698717,2022,1,1,1,1,S,33,1698,1,...,12.0,NaN,12,0,2,1,3,0,0,0
72,TQRMNOTUYHMMKNCDEIJAH00698671,2022,1,1,1,1,S,33,3764,1,...,12.0,NaN,12,0,2,0,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16778,TQRMNOPXQHJOKPCDEIJAH00718715,2022,1,1,1,1,S,33,3278,1,...,1.0,NaN,1,5814,2,0,3,4,0,0
16779,TQRMNOPXRHJOKPCDEIJAH00718716,2022,1,1,1,1,S,33,3976,1,...,3.0,NaN,4,6427,2,1,3,4,0,0
16780,TQRMNOPQSHMMKPCDEIJAH00780780,2022,1,1,1,1,S,33,2607,1,...,3.0,NaN,4,5084,1,2,98,0,0,0
16781,TQRMNOPWPHMLLLCDEIJAH00780781,2022,1,1,1,1,S,33,2325,1,...,5.0,NaN,6,4528,1,2,98,0,0,0
16782,TQRMNORUVHLLKQCDEIJAH00718720,2022,1,1,1,1,S,33,2102,1,...,12.0,NaN,12,0,2,0,98,0,0,0

#### 2)

In [4]:
df_ba_unido = pd.merge(df_ba, df_usu, on=("CODUSU","NRO_HOGAR"), how="inner", validate="one_to_many")
df_ba_unido

,CODUSU,ANO4_x,TRIMESTRE_x,NRO_HOGAR,REALIZADA,REGION_x,MAS_500_x,AGLOMERADO_x,PONDERA_x,IV1,...,PDECIFR_y,ADECIFR_y,IPCF_y,DECCFR_y,IDECCFR_y,RDECCFR_y,GDECCFR_y,PDECCFR_y,ADECCFR_y,PONDIH_y
0,TQRMNOQSYHMOTOCDEIJAH00698520,2022,1,1,1,1,S,33,4625,2,...,NaN,0,0.0,0,NaN,0,0.0,NaN,0,4410
1,TQRMNOPSSHKKMMCDEIIAD00780111,2022,1,1,1,1,S,32,803,1,...,NaN,8,103750.0,10,NaN,10,10.0,NaN,8,1440
2,TQRMNOPSSHKKMMCDEIIAD00780111,2022,1,1,1,1,S,32,803,1,...,NaN,8,103750.0,10,NaN,10,10.0,NaN,8,1440
3,TQRMNORSUHLMNPCDEIIAD00718267,2022,1,1,1,1,S,32,2785,2,...,NaN,10,145000.0,10,NaN,10,10.0,NaN,9,4073
4,TQRMNORSUHLMNPCDEIIAD00718267,2022,1,1,1,1,S,32,2785,2,...,NaN,10,145000.0,10,NaN,10,10.0,NaN,9,4073
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6701,TQRMNOPQSHMMKPCDEIJAH00780780,2022,1,1,1,1,S,33,2607,1,...,NaN,6,24500.0,4,NaN,3,3.0,NaN,4,5084
6702,TQRMNOPWPHMLLLCDEIJAH00780781,2022,1,1,1,1,S,33,2325,1,...,NaN,4,34000.0,5,NaN,5,5.0,NaN,6,4528
6703,TQRMNOPWPHMLLLCDEIJAH00780781,2022,1,1,1,1,S,33,2325,1,...,NaN,4,34000.0,5,NaN,5,5.0,NaN,6,4528
6704,TQRMNORUVHLLKQCDEIJAH00718720,2022,1,1,1,1,S,33,2102,1,...,NaN,12,0.0,12,NaN,12,12.0,NaN,12,0
6705,TQRMNORUVHLLKQCDEIJAH00718720,2022,1,1,1,1,S,33,2102,1,...,NaN,12,0.0,12,NaN,12,12.0,NaN,12,0

Eliminamos todas las columnas duplicadas luego del merge, dado que se encontraban en ambas bases.

In [5]:
df_ba_unido.drop(columns=(df_ba_unido.filter(regex='_y')), inplace=True)

#### 3)

Para la limpieza a conciencia de la base de datos eliminaremos, en primer lugar, aquellas variables que contengan más del 50% de sus observaciones con valores faltantes. Esto se debe a que consideramos que serán variables que no aportarán valor informativo suficiente a nuestros modelos predictivos, sino que traerán aparejados problemas para su estimación. Como nuestra base contiene en total 6706 observaciones, realizamos el corte de 50% en 3372 observaciones.

In [6]:
# Limpiamos la base de los datos nulos
# Eliminamos columnas que tienen más del 50% de observaciones vacías 
df_ba_unido_limpio = df_ba_unido.dropna(axis=1, thresh=3372)

En segundo lugar, eliminamos los outliers de nuestras variables, dado que también pueden generar problemas en nuestras predicciones. Consideramos outliers todas las observaciones que están en el cuantil 1% superior e inferior.

In [10]:
# Eliminamos outliers 
for column in df_ba_unido_limpio.columns[1:]:
    if df_ba_unido_limpio[column].dtype== "str":
        continue
    elif df_ba_unido_limpio[column].dtype== "object":
        continue
    else:
        q_low = df_ba_unido_limpio[column].quantile(q = 0.01)
        q_hi = df_ba_unido_limpio[column].quantile(q = 0.99)
        f_filtrada = df_ba_unido_limpio[(df_ba_unido_limpio[column]<q_hi) & (df_ba_unido_limpio[column]>q_low)]

En tercer lugar, chequeamos cuál es el contenido de las variables que nos generarían problemas al no ser numéricas:

In [14]:
for column in f_filtrada.columns[1:]:
    if f_filtrada[column].dtype == "int64":
        continue
    elif f_filtrada[column].dtype == "float64":
        continue
    else:
        print(column, "es una variable", f_filtrada[column].dtype)
#print(list(f_filtrada.CH05))
#print(list(f_filtrada.MAS_500_x))

MAS_500_x es una variable object
CH05 es una variable object


Observamos que CH05 contiene la fecha de nacimiento de los individuos (con lo cual podríamos borrarla, dado que tenemos su edad en la base también)

MAS_500_x contienen una letra que indica el tamaño del aglomerado. Al habernos quedado con las observaciones de BsAs y Gran BsAs, todas tienen una "S".

Debido a esto, consideramos que podemos deshacernos de tales variables sin mayores problemas.

In [18]:
f_filtrada.drop(columns="CH05", inplace=True)
f_filtrada.drop(columns="MAS_500_x", inplace=True)

KeyError: "['CH05'] not found in axis"

A continuación, chequearemos y eliminaremos todas las observaciones que tengan valores negativos sin sentido, por ejemplo, para el ingreso o la edad:

In [19]:
print(f_filtrada[f_filtrada["ITF_x"] < 0])
#Obtenemos un dataframe vacío, por lo que no hay observaciones que cumplan con esas características.

print(f_filtrada[f_filtrada["IPCF_x"] < 0])
#Obtenemos un dataframe vacío, por lo que no hay observaciones que cumplan con esas características.

print(f_filtrada[f_filtrada["P21"] < 0])
#Obtenemos un dataframe con datos de ingreso negativos, por lo que procedemos a eliminarlos.

print(f_filtrada[f_filtrada["P47T"] < 0])
#Obtenemos un dataframe con datos de ingreso negativos, por lo que procedemos a eliminarlos.

print(f_filtrada[f_filtrada["CH06"] < 0])
#Obtenemos un dataframe con datos de edad negativos, por lo que procedemos a eliminarlos.

#Eliminamos las observaciones con edades negativas.
f_filtrada = f_filtrada[f_filtrada.CH06>=0]

#Eliminamos las observaciones con ingreso negativo.
f_filtrada = f_filtrada[f_filtrada.P21>=0]

#Eliminamos las observaciones con ingreso negativo.
f_filtrada = f_filtrada[f_filtrada.P47T>=0]

#Chequeamos que al imprimir el dataframe seleccionando edades negativas devuelva un dataframe vacío.
print(f_filtrada[f_filtrada["CH06"] < 0])

#Chequeamos que al imprimir el dataframe seleccionando ingresos negativos devuelva un dataframe vacío.
print(f_filtrada[f_filtrada["P21"] < 0])

#Chequeamos que al imprimir el dataframe seleccionando ingresos negativos devuelva un dataframe vacío.
print(f_filtrada[f_filtrada["P47T"] < 0])

Empty DataFrame
Columns: [CODUSU, ANO4_x, TRIMESTRE_x, NRO_HOGAR, REALIZADA, REGION_x, AGLOMERADO_x, PONDERA_x, IV1, IV2, IV3, IV4, IV5, IV6, IV7, IV8, IV9, IV10, IV11, IV12_1, IV12_2, IV12_3, II1, II2, II3, II3_1, II4_1, II4_2, II4_3, II5, II5_1, II6, II6_1, II7, II8, II9, V1, V2, V21, V22, V3, V4, V5, V6, V7, V8, V9, V10, V11, V12, V13, V14, V15, V16, V17, V18, V19_A, V19_B, IX_TOT, IX_MEN10, IX_MAYEQ10, ITF_x, DECIFR_x, RDECIFR_x, GDECIFR_x, ADECIFR_x, IPCF_x, DECCFR_x, RDECCFR_x, GDECCFR_x, ADECCFR_x, PONDIH_x, VII1_1, VII1_2, VII2_1, VII2_2, VII2_3, VII2_4, COMPONENTE, H15, CH03, CH04, CH06, CH07, CH08, CH09, CH10, CH11, CH12, CH13, CH15, CH16, NIVEL_ED, ESTADO, CAT_OCUP, CAT_INAC, PP02C1, PP02C2, PP02C3, PP02C4, ...]
Index: []

[0 rows x 133 columns]
Empty DataFrame
Columns: [CODUSU, ANO4_x, TRIMESTRE_x, NRO_HOGAR, REALIZADA, REGION_x, AGLOMERADO_x, PONDERA_x, IV1, IV2, IV3, IV4, IV5, IV6, IV7, IV8, IV9, IV10, IV11, IV12_1, IV12_2, IV12_3, II1, II2, II3, II3_1, II4_1, II4_2, II4_3, II5, II5_1, II6, II6_1, II7, II8, II9, V1, V2, V21, V22, V3, V4, V5, V6, V7, V8, V9, V10, V11, V12, V13, V14, V15, V16, V17, V18, V19_A, V19_B, IX_TOT, IX_MEN10, IX_MAYEQ10, ITF_x, DECIFR_x, RDECIFR_x, GDECIFR_x, ADECIFR_x, IPCF_x, DECCFR_x, RDECCFR_x, GDECCFR_x, ADECCFR_x, PONDIH_x, VII1_1, VII1_2, VII2_1, VII2_2, VII2_3, VII2_4, COMPONENTE, H15, CH03, CH04, CH06, CH07, CH08, CH09, CH10, CH11, CH12, CH13, CH15, CH16, NIVEL_ED, ESTADO, CAT_OCUP, CAT_INAC, PP02C1, PP02C2, PP02C3, PP02C4, ...]
Index: []

[0 rows x 133 columns]
                             CODUSU  ANO4_x  TRIMESTRE_x  NRO_HOGAR  \
6     TQRMNORUPHMLRMCDEIJAH00698717    2022            1          1
7     TQRMNORUPHMLRMCDEIJAH00698717    2022            1          1
8     TQRMNORUPHMLRMCDEIJAH00698717    2022            1          1
9     TQRMNOTUYHMMKNCDEIJAH00698671    2022            1          1
10    TQRMNOTUYHMMKNCDEIJAH00698671    2022            1          1
...                             ...     ...          ...        ...
6648  TQRMNOQVWHKMLNCDEIJAH00780811    2022            1          1
6649  TQRMNOQVWHKMLNCDEIJAH00780811    2022            1          1
6666  TQRMNORTYHJMORCDEIJAH00780813    2022            1          1
6667  TQRMNORTYHJMORCDEIJAH00780813    2022            1          1
6704  TQRMNORUVHLLKQCDEIJAH00718720    2022            1          1

      REALIZADA  REGION_x  AGLOMERADO_x  PONDERA_x  IV1  IV2  ...  V5_M  V8_M  \
6             1         1            33       1698    1    4  ...     0     0
7             1         1            33       1698    1    4  ...     0     0
8             1         1            33       1698    1    4  ...     0     0
9             1         1            33       3764    1    4  ...     0     0
10            1         1            33       3764    1    4  ...     0     0
...         ...       ...           ...        ...  ...  ...  ...   ...   ...
6648          1         1            33       2926    1    2  ...     0     0
6649          1         1            33       2926    1    2  ...     0     0
6666          1         1            33       2194    1    2  ...     0     0
6667          1         1            33       2194    1    2  ...     0     0
6704          1         1            33       2102    1    2  ...     0     0

      V9_M  V10_M  V11_M  V12_M  V18_M  V19_AM  V21_M   T_VI
6        0      0      0      0      0       0      0      0
7        0      0      0      0      0       0      0      0
8        0      0      0      0      0       0      0      0
9        0      0      0      0      0       0      0      0
10       0      0      0      0      0       0      0      0
...    ...    ...    ...    ...    ...     ...    ...    ...
6648     0      0      0      0      0       0      0  29000
6649     0      0      0      0      0       0      0      0
6666     0      0      0      0      0       0      0      0
6667     0      0      0      0      0       0      0      0
6704     0      0      0      0      0       0      0      0

[901 rows x 133 columns]
                             CODUSU  ANO4_x  TRIMESTRE_x  NRO_HOGAR  \
6     TQRMNORUPHMLRMCDEIJAH00698717    2022            1          1
7     TQRMNORUPHMLRMCDEIJAH00698717    2022            1          1
8     TQRMNORUPHMLRMCDEIJAH00698717    2022            1          1
9     TQRMNOTUYHMMKNCDEIJAH00698671    2022            1          1
10    TQRMNOTUYHMMKNCDEIJAH00698671    2022            1          1
...                             ...     ...          ...        ...
6648  TQRMNOQVWHKMLNCDEIJAH00780811    2022            1          1
6649  TQRMNOQVWHKMLNCDEIJAH00780811    2022            1          1
6666  TQRMNORTYHJMORCDEIJAH00780813    2022            1          1
6667  TQRMNORTYHJMORCDEIJAH00780813    2022            1          1
6704  TQRMNORUVHLLKQCDEIJAH00718720    2022            1          1

      REALIZADA  REGION_x  AGLOMERADO_x  PONDERA_x  IV1  IV2  ...  V5_M  V8_M  \
6             1         1            33       1698    1    4  ...     0     0
7             1         1            33       1698    1    4  ...     0     0
8             1         1            33       1698    1    4  ...     0     0
9             1         1            33       3764    1    4  ...     0     0
10            1         1            33       3764    1    4  ...     0     0
...         ...       ...           ...        ...  ...  ...  ...   ...   ...
6648          1         1            33       2926    1    2  ...     0     0
6649          1         1            33       2926    1    2  ...     0     0
6666          1         1            33       2194    1    2  ...     0     0
6667          1         1            33       2194    1    2  ...     0     0
6704          1         1            33       2102    1    2  ...     0     0

      V9_M  V10_M  V11_M  V12_M  V18_M  V19_AM  V21_M   T_VI
6        0      0      0      0      0       0      0      0
7        0      0      0      0      0       0      0      0
8        0      0      0      0      0       0      0      0
9        0      0      0      0      0       0      0      0
10       0      0      0      0      0       0      0      0
...    ...    ...    ...    ...    ...     ...    ...    ...
6648     0      0      0      0      0       0      0  29000
6649     0      0      0      0      0       0      0      0
6666     0      0      0      0      0       0      0      0
6667     0      0      0      0      0       0      0      0
6704     0      0      0      0      0       0      0      0

[938 rows x 133 columns]
                             CODUSU  ANO4_x  TRIMESTRE_x  NRO_HOGAR  \
97    TQRMNOSUXHLLTRCDEIJAH00718966    2022            1          1
180   TQRMNOQQWHLNNPCDEIJAH00719115    2022            1          1
183   TQRMNOPPWHJKLNCDEIJAH00719425    2022            1          1
474   TQRMNORYYHMOMOCDEIIAD00780105    2022            1          1
495   TQRMNOUTSHMOLRCDEIJAH00703950    2022            1          1
507   TQRMNOPPQHLNKTCDEIIAD00780107    2022            1          1
730   TQRMNORWRHKNNOCDEIJAH00780914    2022            1          1
915   TQRMNORPXHMMLSCDEIJAH00780187    2022            1          1
918   TQRMNOPYRHKOOLCDEIJAH00780188    2022            1          1
1052  TQRMNOQWQHLLROCDEIJAH00780208    2022            1          1
1171  TQRMNOQRVHKMKQCDEIJAH00780113    2022            1          1
1280  TQRMNOQXQHKMOQCDEIJAH00780116    2022            1          1
1527  TQRMNOURQHKOKOCDEIIAD00779758    2022            1          1
1694  TQRMNOSYTHMMPPCDEIJAH00702450    2022            1          1
1734  TQRMNORWPHMKKOCDEIJAH00703495    2022            1          2
1761  TQRMNOQXSHJMOMCDEIIAD00718628    2022            1          1
1779  TQRMNOQQWHMOKNCDEIJAH00780299    2022            1          1
1809  TQRMNOTXWHKMNQCDEIJAH00780321    2022            1          1
1972  TQRMNORYSHMMPQCDEIJAH00780313    2022            1          1
2029  TQRMNOQVTHLMQNCDEIJAH00719541    2022            1          1
2077  TQRMNOQVTHJMLPCDEIJAH00698167    2022            1          1
2151  TQRMNOQVPHMLNUCDEIIAD00699685    2022            1          1
2189  TQRMNOQRPHKKPQCDEIJAH00780277    2022            1          1
2190  TQRMNOQRPHKKPQCDEIJAH00780277    2022            1          1
2201  TQRMNOQXQHJLNMCDEIJAH00702707    2022            1          1
2245  TQRMNOPSWHMNPNCDEIJAH00703912    2022            1          1
2347  TQRMNOSSPHLOLSCDEIJAH00718822    2022            1          1
2377  TQRMNOQURHKOPMCDEIJAH00780286    2022            1          1
2727  TQRMNOSQQHMNNRCDEIJAH00780384    2022            1          1
2788  TQRMNOPUSHLMLTCDEIJAH00719260    2022            1          1
2798  TQRMNOQTUHJLPLCDEIJAH00780397    2022            1          1
2839  TQRMNOQXVHJMRLCDEIJAH00719480    2022            1          1
3081  TQRMNOQTVHJOPSCDEIJAH00780376    2022            1          1
3170  TQRMNOQVUHLKLPCDEIJAH00780349    2022            1          1
3265  TQRMNORWSHJMRMCDEIJAH00719482    2022            1          1
3301  TQRMNOTYUHKMLRCDEIIAD00779864    2022            1          1
3391  TQRMNOUVPHKMOOCDEIJAH00780342    2022            1          1
3510  TQRMNOUVVHLNLLCDEIIAD00779921    2022            1          1
3537  TQRMNOTPTHKKKRCDEIIAD00779928    2022            1          1
3724  TQRMNOSQQHJKTMCDEIJAH00780492    2022            1          1
3883  TQRMNOPSVHLNMQCDEIJAH00719196    2022            1          1
3984  TQRMNOPYQHJLMUCDEIIAD00718613    2022            1          1
3988  TQRMNORTRHJLMUCDEIIAD00718614    2022            1          1
4104  TQRMNOPUYHMKMTCDEIIAD00779953    2022            1          1
4376  TQRMNORVUHKOLSCDEIJAH00780578    2022            1          1
4482  TQRMNOPUVHJMMUCDEIJAH00700996    2022            1          1
4840  TQRMNOTPWHLKQSCDEIJAH00718701    2022            1          1
5205  TQRMNORWYHLNRMCDEIJAH00719242    2022            1          1
5287  TQRMNOPSYHMNQUCDEIJAH00701453    2022            1          1
5301  TQRMNOPXQHJMMNCDEIJAH00718918    2022            1          1
5576  TQRMNOPVRHMMOPCDEIIAD00698236    2022            1          2
5590  TQRMNOVQSHKMLOCDEIIAD00780009    2022            1          1
5621  TQRMNOSRSHKMKQCDEIJAH00780650    2022            1          1
5728  TQRMNOPPQHJMNRCDEIJAH00693035    2022            1          1
5930  TQRMNORPPHKNRUCDEIJAH00780763    2022            1          1
6046  TQRMNOQYSHKNKOCDEIJAH00780716    2022            1          1
6357  TQRMNOPUSHLKQLCDEIJAH00718844    2022            1          1

      REALIZADA  REGION_x  AGLOMERADO_x  PONDERA_x  IV1  IV2  ...  V5_M  V8_M  \
97            1         1            33       3525    1    3  ...     0     0
180           1         1            33        135    1    3  ...     0     0
183           1         1            33       1122    3    1  ...     0     0
474           1         1            32       4073    2    4  ...     0     0
495           1         1            33       2674    1    1  ...     0     0
507           1         1            32       4628    2    2  ...     0     0
730           1         1            33        571    1    2  ...     0     0
915           1         1            33       1112    2    3  ...     0     0
918           1         1            33       5318    1    3  ...     0     0
1052          1         1            33       3990    1    3  ...     0     0
1171          1         1            33       4325    1    3  ...     0     0
1280          1         1            33       4395    1    2  ...     0     0
1527          1         1            32       2642    2    3  ...     0     0
1694          1         1            33       2815    2    3  ...     0     0
1734          1         1            33       3786    2    4  ...     0     0
1761          1         1            32       2603    1    3  ...     0     0
1779          1         1            33       4347    1    1  ...     0     0
1809          1         1            33       2663    2    1  ...     0     0
1972          1         1            33       2180    1    3  ...     0     0
2029          1         1            33       3192    1    3  ...     0     0
2077          1         1            33       2392    1    2  ...     0     0
2151          1         1            32        139    2    3  ...     0     0
2189          1         1            33       4363    2    3  ...     0     0
2190          1         1            33       4363    2    3  ...     0     0
2201          1         1            33       2864    1    4  ...     0     0
2245          1         1            33       1246    1    4  ...     0     0
2347          1         1            33       3555    1    2  ...     0     0
2377          1         1            33       6203    1    3  ...     0     0
2727          1         1            33       2900    1    2  ...     0     0
2788          1         1            33       1229    1    2  ...     0     0
2798          1         1            33       3466    1    3  ...     0     0
2839          1         1            33        914    2    2  ...     0     0
3081          1         1            33       4981    1    4  ...     0     0
3170          1         1            33       2177    2    3  ...     0     0
3265          1         1            33       4403    1    3  ...     0     0
3301          1         1            32       2678    2    2  ...     0     0
3391          1         1            33       5574    2    1  ...     0     0
3510          1         1            32        894    2    3  ...     0     0
3537          1         1            32       1456    4    1  ...     0     0
3724          1         1            33       2885    1    5  ...     0     0
3883          1         1            33       2374    1    3  ...     0     0
3984          1         1            32       2963    1    5  ...     0     0
3988          1         1            32       2231    2    2  ...     0     0
4104          1         1            32       1666    2    3  ...     0     0
4376          1         1            33       6291    2    1  ...     0     0
4482          1         1            33       3026    1    2  ...     0     0
4840          1         1            33       3166    1    3  ...     0     0
5205          1         1            33       5409    1    3  ...     0     0
5287          1         1            33       1215    2    4  ...     0     0
5301          1         1            33       2573    1    2  ...     0     0
5576          1         1            32       2676    1    5  ...     0     0
5590          1         1            32       2824    2    2  ...     0     0
5621          1         1            33       5469    2    1  ...     0     0
5728          1         1            33       1427    2    2  ...     0     0
5930          1         1            33       1568    1    3  ...     0     0
6046          1         1            33       3719    1    2  ...     0     0
6357          1         1            33       2397    2    3  ...     0     0

      V9_M  V10_M  V11_M  V12_M  V18_M  V19_AM  V21_M  T_VI
97       0      0      0      0      0       0      0     0
180      0      0      0      0      0       0      0     0
183      0      0      0      0      0       0      0     0
474      0      0      0      0      0       0      0     0
495      0      0      0      0      0       0      0     0
507      0      0      0      0      0       0      0     0
730      0      0      0      0      0       0      0     0
915      0      0      0      0      0       0      0     0
918      0      0      0      0      0       0      0     0
1052     0      0      0      0      0       0      0     0
1171     0      0      0      0      0       0      0     0
1280     0      0      0      0      0       0      0     0
1527     0      0      0      0      0       0      0     0
1694     0      0      0      0      0       0      0     0
1734     0      0      0      0      0       0      0     0
1761     0      0      0      0      0       0      0     0
1779     0      0      0      0      0       0      0     0
1809     0      0      0      0      0       0      0     0
1972     0      0      0      0      0       0      0     0
2029     0      0      0      0      0       0      0     0
2077     0      0      0      0      0       0      0     0
2151     0      0      0      0      0       0      0     0
2189     0      0      0      0      0       0      0     0
2190     0      0      0      0      0       0      0     0
2201     0      0      0      0      0       0      0     0
2245     0      0      0      0      0       0      0     0
2347     0      0      0      0      0       0      0     0
2377     0      0      0      0      0       0      0     0
2727     0      0      0      0      0       0      0     0
2788     0      0      0      0      0       0      0     0
2798     0      0      0      0      0       0      0     0
2839     0      0      0      0      0       0      0     0
3081     0      0      0      0      0       0      0     0
3170     0      0      0      0      0       0      0     0
3265     0      0      0      0      0       0      0     0
3301     0      0      0      0      0       0      0     0
3391     0      0      0      0      0       0      0     0
3510     0      0      0      0      0       0      0     0
3537     0      0      0      0      0       0      0     0
3724     0      0      0      0      0       0      0     0
3883     0      0      0      0      0       0      0     0
3984     0      0      0      0      0       0      0     0
3988     0      0      0      0      0       0      0     0
4104     0      0      0      0      0       0      0     0
4376     0      0      0      0      0       0      0     0
4482     0      0      0      0      0       0      0     0
4840     0      0      0      0      0       0      0     0
5205     0      0      0      0      0       0      0     0
5287     0      0      0      0      0       0      0     0
5301     0      0      0      0      0       0      0     0
5576     0      0      0      0      0       0      0     0
5590     0      0      0      0      0       0      0     0
5621     0      0      0      0      0       0      0     0
5728     0      0      0      0      0       0      0     0
5930     0      0      0      0      0       0      0     0
6046     0      0      0      0      0       0      0     0
6357     0      0      0      0      0       0      0     0

[57 rows x 133 columns]
Empty DataFrame
Columns: [CODUSU, ANO4_x, TRIMESTRE_x, NRO_HOGAR, REALIZADA, REGION_x, AGLOMERADO_x, PONDERA_x, IV1, IV2, IV3, IV4, IV5, IV6, IV7, IV8, IV9, IV10, IV11, IV12_1, IV12_2, IV12_3, II1, II2, II3, II3_1, II4_1, II4_2, II4_3, II5, II5_1, II6, II6_1, II7, II8, II9, V1, V2, V21, V22, V3, V4, V5, V6, V7, V8, V9, V10, V11, V12, V13, V14, V15, V16, V17, V18, V19_A, V19_B, IX_TOT, IX_MEN10, IX_MAYEQ10, ITF_x, DECIFR_x, RDECIFR_x, GDECIFR_x, ADECIFR_x, IPCF_x, DECCFR_x, RDECCFR_x, GDECCFR_x, ADECCFR_x, PONDIH_x, VII1_1, VII1_2, VII2_1, VII2_2, VII2_3, VII2_4, COMPONENTE, H15, CH03, CH04, CH06, CH07, CH08, CH09, CH10, CH11, CH12, CH13, CH15, CH16, NIVEL_ED, ESTADO, CAT_OCUP, CAT_INAC, PP02C1, PP02C2, PP02C3, PP02C4, ...]
Index: []

[0 rows x 133 columns]
Empty DataFrame

#### 4)

In [23]:
print(list(f_filtrada.columns))

['CODUSU', 'ANO4_x', 'TRIMESTRE_x', 'NRO_HOGAR', 'REALIZADA', 'REGION_x', 'AGLOMERADO_x', 'PONDERA_x', 'IV1', 'IV2', 'IV3', 'IV4', 'IV5', 'IV6', 'IV7', 'IV8', 'IV9', 'IV10', 'IV11', 'IV12_1', 'IV12_2', 'IV12_3', 'II1', 'II2', 'II3', 'II3_1', 'II4_1', 'II4_2', 'II4_3', 'II5', 'II5_1', 'II6', 'II6_1', 'II7', 'II8', 'II9', 'V1', 'V2', 'V21', 'V22', 'V3', 'V4', 'V5', 'V6', 'V7', 'V8', 'V9', 'V10', 'V11', 'V12', 'V13', 'V14', 'V15', 'V16', 'V17', 'V18', 'V19_A', 'V19_B', 'IX_TOT', 'IX_MEN10', 'IX_MAYEQ10', 'ITF_x', 'DECIFR_x', 'RDECIFR_x', 'GDECIFR_x', 'ADECIFR_x', 'IPCF_x', 'DECCFR_x', 'RDECCFR_x', 'GDECCFR_x', 'ADECCFR_x', 'PONDIH_x', 'VII1_1', 'VII1_2', 'VII2_1', 'VII2_2', 'VII2_3', 'VII2_4', 'COMPONENTE', 'H15', 'CH03', 'CH04', 'CH06', 'CH07', 'CH08', 'CH09', 'CH10', 'CH11', 'CH12', 'CH13', 'CH15', 'CH16', 'NIVEL_ED', 'ESTADO', 'CAT_OCUP', 'CAT_INAC', 'PP02C1', 'PP02C2', 'PP02C3', 'PP02C4', 'PP02C5', 'PP02C6', 'PP02C7', 'PP02C8', 'PP02E', 'PP02H', 'PP02I', 'P21', 'DECOCUR', 'RDECOCUR', 'GDECOCUR', 'ADECOCUR', 'PONDIIO', 'TOT_P12', 'P47T', 'DECINDR', 'RDECINDR', 'GDECINDR', 'ADECINDR', 'PONDII', 'V2_M', 'V3_M', 'V4_M', 'V5_M', 'V8_M', 'V9_M', 'V10_M', 'V11_M', 'V12_M', 'V18_M', 'V19_AM', 'V21_M', 'T_VI']

Construimos una variable que indique la proporción de niños menores de 10 años en el hogar:

In [26]:
f_filtrada["niños_prop"] = f_filtrada["IX_MEN10"]/f_filtrada["IX_TOT"]

Construimos una variable que identifique si el cónyuge del jefe de hogar trabaja:

In [42]:
f_filtrada["conyuge_trabaja"] = 0

for index, row in f_filtrada.iterrows():
    if row["CH03"] == 2:
        if row["ESTADO"] == 1:
            f_filtrada.loc[index, "conyuge_trabaja"] = 1

In [43]:
f_filtrada[["CH03", "ESTADO", "conyuge_trabaja"]]

      CH03  ESTADO  conyuge_trabaja
0        1       3                0
2        2       3                0
3        1       1                0
4        2       1                1
5        3       3                0
...    ...     ...              ...
6700     3       3                0
6701     3       4                0
6702     1       3                0
6703     3       1                0
6705     2       3                0

[5231 rows x 3 columns]